@(title: String)

@js = {
  @if(play.Play.isProd()) {
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url,
      module = routes.Assets.at("js-min/app/pictures").url)
  } else {
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url,
      module = routes.Assets.at("js/app/pictures").url)
  }
}

@tassel(name: String, img: String) = {
  <div class="col-md-6">
    <div class="tassel">
      <a href="/@name.toLowerCase">
        <img src="@img">
        <p>@name</a>
      </a>
    </div>
  </div>
}

@main(title + " | Michele Riccardo Esposito", js, _navSecond(title)) {
  <div class="splash" data-page="@title.toLowerCase">
    <div class="menu carosel">
    </div>
  </div>
}
